body {


    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #467599;
    color: #E9FFF9;


}

main {
    box-sizing: border-box;
    width: 1000px;
    margin: 90px auto 40px;
    font-size: 22px;
    background: #1D3354;
    border-radius: 10px;
    padding: 10px 60px;

}

.navigation {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1D3354;
    padding: 10px 0;
}

.navigation__link {
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #E9FFF9;
    font-size: 22px;
}

.navigation__link:hover {
    color: #B8B3E9;
}

.navigation__link--homepage {
    border-bottom: 2px solid;
    margin-right: 100px;
}

.main-heading {
    color: #B8B3E9;
}

.about-me {
    background: #467599;
    overflow: hidden;
    border-radius: 10px;
}

.about-me__heading {
    color: #E9FFF9;
}

.about-me__img {
    float: left;
    margin: 15px;
    border-radius: 10px;
    width: 220px;
    height: 220px;


}

.about-me_description {


    padding: 10px;
    color: #E9FFF9;
    text-align: justify;
}

.wtf {
    color: #E9FFF9;
}

.correct-html {
    border: 3px solid #07090F;
    border-radius: 10px;
    margin-bottom: 20px;
}

.correct-html__description {
    color: #E9FFF9;
    padding: 0 10px;
}

.correct-html__tittle {
    color: #9ED8DB;
}

.navigator {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #B8B3E9;
    border-radius: 50%;
}

.fa-chevron-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E9FFF9;
    font-size: 20px;
}

.footer {

    background: #1D3354;
    padding: 5px 0;

}

.footer__description {
    color: #E9FFF9;
}