body {
    box-sizing: border-box;
    background: #fefefe;
    text-align: center;
    font-family: arial;
    margin: 0;

    background: #D6C3C9;

}

main {

    width: 1000px;
    margin: 40px auto 0;
    font-size: 22px;

}

.navigation {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px 0;
}

.navigation__link {
    padding-right: 50px;
    text-decoration: none;
    color: black;
}

h2 {
    color: #A37C40;
}



h3 {
    color: #98473E;
}

p {
    color: #07090F;

    padding: 0 10px;
    ;
}


.footer {

    background: black;
    padding: 5px 0;

}

.footer__paragraph {
    color: white;
}